body {
    font-family: 'Phudu', cursive;
    background: linear-gradient(222deg, rgb(40, 40, 200), rgb(252, 138, 7));
    display: flex;
    justify-content: center;
}

h1 {
    color: white;
    font-size: 80px;
}
